<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <h2 class="title">Login</h2>

    <!-- User ID -->
    <div class="form-group">
      <label>User ID</label>
      <input
        type="text"
        formControlName="userId"
        placeholder="Enter your userId"
      />

      @if(submitted && loginForm.get('userId')?.errors) {
        @if(loginForm.get('userId')?.errors?.['required']) {
          <small class="error">User ID is required</small>
        } @else {
          <small class="error">Enter a valid User ID</small>
        }
      }
    </div>

    <!-- Password -->
    <div class="form-group">
      <label>Password</label>
      <div class="password-wrapper" style="position: relative;">
        <input
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
          placeholder="Enter your password"
        />
        <mat-icon
          class="eye-icon"
          (click)="showPassword = !showPassword"
          style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;"
        >
          {{ showPassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>
      </div>

      @if(submitted && loginForm.get('password')?.errors) {
        @if(loginForm.get('password')?.errors?.['required']) {
          <small class="error">Password is required</small>
        } @else if(loginForm.get('password')?.errors?.['minlength']) {
          <small class="error">Password must be at least 6 characters</small>
        }
      }
    </div>


    <button type="submit" class="btn">Login</button>
  </form>
</div>
